<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      ">

    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
        <property name="transactionAware" value="true"/>
    </bean>

    <bean id="cache" factory-bean="cacheManager" factory-method="getCache">
        <constructor-arg value="resource"/>
    </bean>

    <context:component-scan base-package="com.github"/>
    <mvc:annotation-driven/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="org.springframework.web.servlet.resource.ResourceUrlProviderExposingInterceptor">
                <constructor-arg>
                        <bean class="org.springframework.web.servlet.resource.ResourceUrlProvider"/>
                </constructor-arg>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:resources mapping="/static/**" location="/WEB-INF/static/">
        <mvc:resolvers>
            <bean class="org.springframework.web.servlet.resource.GzipResourceResolver"/>
            <bean class="org.springframework.web.servlet.resource.CachingResourceResolver">
                <constructor-arg ref="cache"/>
            </bean>
            <bean class="org.springframework.web.servlet.resource.VersionResourceResolver">
                <property name="strategyMap">
                    <map>
                        <entry key="/**">
                            <bean class="org.springframework.web.servlet.resource.ContentVersionStrategy"/>
                        </entry>
                    </map>
                </property>
            </bean>
            <bean class="org.springframework.web.servlet.resource.PathResourceResolver"/>
        </mvc:resolvers>
        <mvc:transformers>
            <bean class="org.springframework.web.servlet.resource.CachingResourceTransformer">
                <constructor-arg ref="cache"/>
            </bean>
            <bean class="org.springframework.web.servlet.resource.CssLinkResourceTransformer"/>
        </mvc:transformers>
    </mvc:resources>

</beans>